.benefits {
    padding-top: 94px;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        width: calc((100% - 90px) / 4);
    }

    &__bg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
        background-color: $secondary-bg-color;
        border-radius: 4px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__text {
        color: $primary-text-color;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        margin-top: 10px;
    }
}