.footer {
    background-color: $footer-bg-color;
    // padding-top: 60px;
    // padding-bottom: 60px;

    &__container--flex {
        // display: flex;
    }

}


.address__logo {
    // margin: 0px;
    color: $primary-accent-color;
    font-family: raleway, sans-serif;
    font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    color: $primary-accent-color;

    &--white {
        color: $primary-white-color;
    }

}


.address__list {
    // margin-top: 20px;
    // margin-right: 70px;
    list-style: none;
}


.address__item:not(:first-child) {
    // margin-top: 9px;
}


.address__text {
    // display: block;
    color: $primary-white-color;
    font-style: normal;
    // font-size: 14px;
    // line-height: 1.7;
    // letter-spacing: 0.03em;

    &--opacity {
        opacity: 60%;
    }

}


.subtitle {
    // margin-bottom: 20px;
    // padding-top: 12px;
    color: $primary-white-color;
    font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    text-transform: uppercase;
}


.subscribe {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // margin-left: auto;

    &__field {
        // display: flex;
    }


    &__input {
        // width: 358px;
        // height: 50px;
        // padding: 15px 16px;
        background-color: $footer-bg-color;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.6);

        &::placeholder {
            // font-size: 16px;
            // line-height: 1.25;
            // align-items: center;
            // letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }

    }


    &__btn {
        // display: block;
        // width: 200px;
        // height: 50px;
        // padding: 13px 28px;
        // margin-left: 12px;
        // display: flex;
        // align-items: center;
        // text-align: center;
    }


    &__icon {
        // margin-left: 10px;
        fill: $primary-white-color;
    }


}