.header {
    border-bottom: 1px solid #ececec;
}

.nav {
    display: flex;
    align-items: center;

    &__logo {
        margin-right: 93px;
        color: $primary-accent-color;
        font-family: raleway,
            sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $primary-accent-color;

        &--black {
            margin: 0px;
            color: #000000;
        }
    }



    &__list {
        display: flex;

        &:last-child {
            margin-left: auto;
        }
    }



    &__link {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 50px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__page {
        @extend %nav;

        &:hover {
            color: $primary-accent-color;
        }

        &:focus {
            color: $primary-accent-color;
        }

        &--accent {
            color: $primary-accent-color;

            &::after {
                content: '';
                position: absolute;
                display: inline-block;
                height: 4px;
                width: 100%;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0%);
                border-radius: 2px;
                background-color: $primary-accent-color;
            }
        }
    }

    &__email {
        @extend %nav;
        display: flex;
        align-items: center;
        color: $primary-text-color;
        fill: currentColor;

        &:hover,
        &:focus {
            color: $primary-accent-color;
        }
    }

    &__tel {
        @extend %nav;
        display: flex;
        align-items: center;
        color: $primary-text-color;
        fill: currentColor;

        &:hover,
        &:focus {
            color: $primary-accent-color;
        }
    }



    &__icon {
        margin-right: 10px;
    }
}