.services__list {
    // display: flex;
    // justify-content: center;
    // gap: 30px;
}


.services__item {
    // display: block;
    // position: relative;
}


.services__picture {
    // display: block;
}


.services__subtitle {
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0%);
    // padding-top: 27px;
    // padding-bottom: 27px;
    // width: 100%;
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // text-align: center;
    // letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
    background-color: rgba(47, 48, 58, 0.8);
}