.team {
    background-color: $secondary-bg-color;

    &__list {
        // display: flex;
        // justify-content: center;
        // gap: 30px;
    }

    &__item {
        background-color: $primary-white-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__info {
        // padding-top: 30px;
        // padding-bottom: 30px;
    }

    &__name {
        // text-align: center;
        // margin-bottom: 10px;
        // font-weight: 500;
        // font-size: 16px;
        // line-height: 1.19;
        // letter-spacing: 0.03em;
    }

    &__position {
        // text-align: center;
        color: $primary-text-color;
        // font-size: 16px;
        // line-height: 1.19;
        // letter-spacing: 0.03em;
    }
}