// Файл сброса, некоторые типографские правила, и, вероятно, стили, определяющие некоторые стандартные стили для часто используемых элементов HTML
body {
    background-color: getBgc('primary');
    color: getColor('primary');

    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

    // outline: 1px solid tomato;
}