%nav {
    // display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;
    color: $primary-title-color;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    // transition-property: color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}