.social {
    // display: block;

    &__list {
        //     display: flex;
        //     gap: 10px;
        //     justify-content: center;
        //     margin-top: 16px;
        // }

        &__link {
            // display: flex;
            // width: 44px;
            // height: 44px;
            // justify-content: center;
            // align-items: center;
            // border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                background-color: $primary-accent-color;
            }

            &:hover .social__icon,
            &:focus .social__icon {
                fill: $primary-white-color;
            }
        }





        &__icon {
            fill: $primary-white-color;

            &--grey {
                fill: #afb1b8;
                transition-property: background-color, fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
        }



    }